<div class="row">
  <div class="home-headline col-md-6">
    <h1 class="head-line text-center">Get your project done on the weekend by professional developers</h1>
    <p class="text-left">Find teams or Individuals who can devote their weekend time to your project</p>

    <div><a  class="btn btn-success" href="/projects/new">LIST A PROJECT</a></div>
  </div>

</div>
