<div class="row">
  <div class="home-headline">
    <h1 class="text-center head-line"> Welcome to Develop It Weekend </h1>
    <p class="text-center">Find teams or Individuals who get work done on the weekend</p>
  </div>

</div>
