

.navbar-default .navbar-nav li a   {
  color: #FCAA10;
  font-size:15pt;
  text-transform: uppercase;
}

.signup  {
  background-color:black;
  border-radius:5px;

}

.navbar-default .navbar-right > li > a {
  font-size:12pt;
}

.navbar-default .navbar-right > li > a:hover {
  background:white;
}

.home-headline {

  p {
    text-align:center;
    color:#999999;
  }


}





