
<!-- <div class="row">
  <div class="footer">
    <h4>Company</h4>
    <ul>
      <li>About Us</li>
      <li>Contact </li>
    </ul>
    <br/>
    <div class="disclaimer text-center">
      <p> Copyright &copy; 2014 DevelopitWeekend.com </p>
    </div>
  </div>
</div> -->
